.hero {
    height: 100vh;
    background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
    display: flex;
}
.hero__left {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 180px;
    line-height: 1.1;
}
.hero__left h2 {
    color: #090909;
    font-size: 26px;
    font-weight: 600;
}
.hero__left p {
    color: #171717;
    font-size: 100px;
    font-weight: 700;
}
.hero__hand-icon {
    display: flex;
    align-items: center;
    gap: 20px;
}
.hero__hand-icon img {
    width: 105px;
}
.hero__latest-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    width: 310px;
    height: 70px;
    border-radius: 75px;
    margin-top: 30px;
    background: #ff4141;
    color: white;
    font-size: 22px;
    font-weight: 500;
}
.hero__right {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* RESONSIVENESS */
@media (max-width: 1280px) {
    .hero__left  {
        padding-left: 100px;
    }
    .hero__left h2 {
        font-size: 22px;
    }
    .hero__left p {
        font-size: 60px
    }
    .hero__hand-icon img {
        width: 70px;
    }
    .hero__latest-btn {
        width: 250px;
        height: 60px;
        font-size: 18px;
    }
    .hero__right img {
        width: 500px;
    }
}
@media (max-width: 1024px) {
   .hero__left  {
        padding-left: 80px;
    }
    .hero__left p {
        font-size: 50px
    }
    .hero__hand-icon img {
        width: 60px;
    }
    .hero__latest-btn {
        width: 220px;
        height: 60px;
        font-size: 16px;
    }
    .hero__right img {
        width: 400px;
    }
}
@media (max-width: 768px) {
    .hero__left  {
        padding-left: 0;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .hero__left h2 {
        font-size: 22px;
    }
    .hero__left p {
        font-size: 60px
    }
    .hero__hand-icon {
        display: flex;
        justify-content: center;
    }
    .hero__latest-btn {
        width: 250px;
        height: 60px;
        font-size: 18px;
    }
    .hero__right {
        display: none;
    }
}
@media (max-width: 500px) {
    .hero  {
       height: 50vh;
    }
    .hero__left p {
        font-size: 40px;
    }
     .hero__hand-icon img {
        width: 40px;
    }
}