.shop__category-banner {
    display: block;
    margin: 30px auto;
    width: 82%;
}
.shop__category--index-sort {
    display: flex;
    margin: 0 170px;
    justify-content: space-between;
    align-items: center;
}
.shop__category-sort {
    padding: 10px 20px;
    border-radius: 40px;
    border: 1px solid #888;
}
.shop__category--index-sort p span {
    font-weight: 600;
}
.shop__category-products {
    margin: 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 80px;
}
.shop__category--load-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    width: 233px;
    height: 69px;
    border-radius: 75px;
    background: #ededed;
    color: #787878;
    font-size: 18px;
    font-weight: 500;
    border: none;
    cursor: pointer;
    transition: all 0.3s ease;
}
.shop__category--load-more:active {
    transform: scale(0.97);
    background: #e2e1e1;
}
.shop__category-back-to-top {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px auto;
    margin-left: 47%;
    position: relative;
    cursor: pointer;
    width: 122px;
    transition: transform 0.3s ease;
}
.shop__category-back-to-top:active{
    transform: scale(0.97);
}
.shop__category-back-to-top::after {
        content: '';
    position: absolute;
    width: 86%;
    height: 2px;
    bottom: 0;
    left: -3px;
    background-color: #ff4141;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
.shop__category-back-to-top:hover::after {
      transform: scaleX(1);
  transform-origin: bottom left;
}
.shop__category-back-to-top img {
    filter: invert(1);
    transform: rotate(270deg);
}