.new__collections {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin-bottom: 100px;
}
.new__collections h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.new__collections hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}
.collections {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin-top: 50px;
    gap: 30px;
}

/* RESPONSIVENESS */
@media (max-width: 1280px) {
    .new__collections {
        margin-bottom: 60px;
    }
    .new__collections h1 {
        font-size: 40px;
    }
}
@media (max-width: 1024px) {
    .new__collections h1 {
        font-size: 36px;
    }
}
@media (max-width: 768px) {
    .collections {
        gap: 10px;
        margin: 30px 50px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .collections > :not(:nth-child(-n + 6)) {
        display: none;
    }
}
@media (max-width: 500px) {
     .collections {
        grid-template-columns: 1fr 1fr ;
        gap: 20px;
    }
    .new__collections h1 {
        font-size: 24px;
    }
}