a {
    text-decoration: none;
}
.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.footer__logo {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer__logo p {
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}
.footer__links {
    display: flex;
    list-style: none;
    gap: 50px;
    padding: 0;
    color: #252525;
    font-size: 20px;
}
.footer__links li {
    cursor: pointer;
    text-decoration: none;
    position: relative;
     color: #383838;   
}
.footer__links li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff4141;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
.footer__links li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.footer__social-icons {
    display: flex;
    gap: 20px;
}
.footer__icons-container {
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    cursor: pointer;
}
.footer__icons-container img {
    width: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.footer__icons-container img:active {
    transform: scale(0.95);
    opacity: 0.75;
}
.footer__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}
.footer__copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  animation: fade__modal 1s ease;
  transition: opacity 1s ease-in;
}

.modal-content {
  background: white;
  padding: 10px 20px 200px 10px;
  width: 30%;
  height: 10%;
  border-radius: 10px;
  text-align: center;
  min-width: 300px;
  box-shadow: 0px 10px 10px 10px rgba(0,0,0,0.5);
  animation: slide__Modal 1s ease-in-out;
  transition: transform 1s ease, opacity 1s ease;
}
.modal-content button {
    display: flex-end;
    margin-left: 95%;
    padding: 5px 8px;
    border-radius: 7px;
    color: white;
    background: #ff4141;
    border: none;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    right: 10px;
    z-index: 2;
}
.modal-content button:active {
    transform: scale(0.97);
    background: #b82727;
}
.modal-content h2 {
    font-size: 40px;
    font-weight: 700;
    color: #252525;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}
.modal-content-email {
    padding-top: 60px;
    color: #252525;
}
.modal-content p {
    text-align: start;
    padding-left: 32%;
    font-size: 18px;
    font-weight: 500;
    color: #252525;
    padding-bottom: 5px;
}
.gray {
    color: #818181;
}
.email {
    color: #252525;
    cursor: pointer;
    transition: all 0.3s ease;
}
.email:hover {
    color: #ff4141;
}
.phone {
    color: #252525;
    cursor: pointer;
    transition: all 0.3s ease;
}
.phone:hover {
    color: #ff4141;
}



/* MODAL ANIMATION  */
.fade__modal-in {
    opacity: 1;
}
.fade__modal-out {
    opacity: 0
}
.slide__modal-in {
    transform: translateY(0);
    opacity: 1;
}
.slide__modal-out {
    transform: translateY(400px);
    opacity: 0;
}
@keyframes fade__modal {
    from {opacity: 0;}
    to {opacity: 1;}
}
@keyframes slide__Modal {
    from {transform: translateY(-400px);
    opacity: 0;}
    to {transform: translateY(0);
    opacity: 1;}
}