.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.footer__logo {
    display: flex;
    align-items: center;
    gap: 20px;
}
.footer__logo p {
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}
.footer__links {
    display: flex;
    list-style: none;
    gap: 50px;
    padding: 0;
    color: #252525;
    font-size: 20px;
}
.footer__links li {
    cursor: pointer;
    text-decoration: none;
    position: relative;
}
.footer__links li::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #ff4141;
    transform: scaleX(0);
    transform-origin: bottom right;
    transition: transform 0.5s ease-out;
}
.footer__links li:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
.footer__social-icons {
    display: flex;
    gap: 20px;
}
.footer__icons-container {
    padding: 10px;
    padding-bottom: 6px;
    background: #fbfbfb;
    border: 1px solid #ebebeb;
    border-radius: 10px;
    cursor: pointer;
}
.footer__icons-container img {
    width: 30px;
    transition: all 0.3s ease;
    cursor: pointer;
}
.footer__icons-container img:active {
    transform: scale(0.95);
    opacity: 0.75;
}
.footer__copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}
.footer__copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7); /* Dim the background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure it stays on top */
}

.modal-content {
  background: white;
  padding: 10px 20px 20px 10px;
  width: 30%;
  height: 20%;
  border-radius: 10px;
  text-align: center;
  min-width: 300px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}
.modal-content button {
    display: flex-end;
    margin-left: 95%;
    padding: 5px 8px;
    border-radius: 7px;
    color: white;
    background: #ff4141;
    border: none;
    font-size: 14px;
    font-weight: 700;
}
.modal-content button:active {
    transform: scale(0.97);
    background: #b82727;
}