.popular {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 100vh;
    margin-bottom: 100px;
}
.popular h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}
.popular hr {
    width: 200px;
    height: 3px;
    border-radius: 10px;
    background: #252525;
}
.popular__item{
    margin-top: 50px;
    display: flex;
    gap: 30px;
} 

/* RESPONSIVENESS */

@media (max-width: 1280px) {
    .popular {
        margin: 40px 0;
        height: auto;
    }
    .popular h1 {
        font-size: 40px;
    }
    .popular hr {
        height: 5px;
    }
    .popular__item {
        margin: 20px 0;
    }
}
@media (max-width: 1024px) {
    .popular {
        margin: 30px 0;
        height: auto;
    }
    .popular h1 {
        font-size: 36px;
    }
    .popular hr {
        height: 4px;
    }
    .popular__item {
        margin: 15px 0;
    }
}
@media (max-width: 768px) {
     .popular {
        margin: 30px 40px;
        height: auto;
    }
    .popular h1 {
        font-size: 24px;
    }
    .popular hr {
        width: 100px;
    }
    .popular__item {
        gap: 5px;
        margin-top: 20px;
    }
    .popular__item > :not(:nth-child(-n + 3)) {
        display: none;
    }
}
@media (max-width: 500px) {
     .popular {
       height: 100%;
       margin-bottom: 60px;
    }
    .popular h1 {
        font-size: 20px;
    }
    .popular hr {
        width: 80px;
    }
    .popular__item {
        gap: 15px;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
       .popular__item > :not(:nth-child(-n + 3)) {
        display: block;
    }
}