
.product__display {
    display: flex;
    margin: 0px 170px 100px;
    gap: 60px;
}
.product__display-left {
    display: flex;
    gap: 17px;
}
.product__display--img-list {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.product__display--img-list img {
    height: 163px;
    border-radius: 10px;
    border: 2px solid rgb(145, 144, 144);
}
.product__display--main-img {
    width: 586px;
    height: 716px;
    border-radius: 20px;
}
.product__display-right {
    margin: 0px 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.product__display-right h1 {
    color: #3d3d3d;
    font-size: 40px;
    font-weight: 700;
}
.product__display--right-stars {
    display: flex;
    align-items: center;
    margin-top: 13px;
    gap: 5px;
    color: #1c1c1c;
    font-size: 16px;
}
.product__display--right-prices {
    display: flex;
    margin: 10px 0px 20px;
    gap: 30px;
    font-size: 24px;
    font-weight: 700;
}
.product__display--right-price-old {
    color: #818181;
    text-decoration: line-through;
}
.product__display--right-price-new {
    color: #ff4141;
}
.product__display--right-size h1 {
    margin-top: 55px;
    color: #656565;
    font-size: 20px;
    font-weight: 600;
}
.product__display--right-sizes {
    display: flex;
    margin: 30px 0px;
    gap: 15px;
}
.product__display--right-sizes div {
    cursor: pointer;
    padding: 6px 14px;
    border-radius: 10px;
    transition: all .2s ease;
}
.product__size-selected {
    background: #b82727;
      border: 2px solid #b82727;
    color: white;
    transform: scale(1.08);
}
.product__size--selected-default {
      cursor: pointer;
    border: 2px solid #ff4141;
    padding: 0px 6px;
    border-radius: 8px;
}
.product__display-right button {
  padding: 20px 40px;  
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: white;
  background: #ff4141;
  margin-bottom: 40px;
  border: none;
  outline: none;
  cursor: pointer;
  border-radius: 10px;
  transition: all 0.125s ease;
}
.product__display-right button:active {
    transform: scale(0.97);
    background: #b82727;
}
.product__display--right-category {
    margin-top: 10px;
}
.product__display--right-category span {
    font-weight: 600;
}

/* RESPONSIVENESS */

@media (max-width: 1280px) {
   .product__display {
    margin: 0px 60px;
   }
   .product__display-left {
    gap: 10px;
   }
   .product__display--img-list {
    gap: 10px;
   }
    .product__display--img-list img {
     height: 120px;
    }
    .product__display--main-img {
        width: auto;
        height: 525px;
    }
    .product__display-right {
        margin: 0px 30px;
    }
    .product__display-right h1 {
        font-size: 24px;
    }
    .product__display--right-stars {
        gap: 3px;
        font-size: 13px;
    }
    .product__display--right-prices {
        gap: 15px;
        font-size: 18px;
    }
   .product__display--right-size {
        font-size: 14px;
        padding: 3px 7px;
    }
   }
    .product__display--right-size h1 {
        margin-top: 20px;
        font-size: 16px;
    }
    .product__display--right-bottom button {
       padding: 20px 0;
        width: 200px;
        font-size: 14px;
    }
    .product__display--right-category {
        margin-top: 0;
        font-size: 13px;
    }

@media (max-width: 1024px) {
    .product__display {
    margin: 0px 40px;
   }
   .product__display-left {
    width: 50%;
   }
   .product__display--img-list {
    gap: 5px;
   }
    .product__display--img-list img {
     height: 90px;
    }
    .product__display--main-img {
        width: auto;
        height: 400px;
    }
    .product__display-right {
        width: 50%;
    }
    .product__display-right h1 {
        font-size: 20px;
    }
    .product__display--right-stars {
        gap: 3px;
        font-size: 11px;
    }
    .product__display--right-prices {
        gap: 15px;
        font-size: 16px;
        margin-bottom: 10px;
    }
   .product__display--right-size {
        font-size: 14px;
        padding: 3px 7px;
    }
   }

@media (max-width: 768px) {
      .product__display {
        flex-direction: column;
    margin: 0px 40px;
   }
   .product__display-left {
    width: 100%;
    align-items: center;
    justify-content: center;
   }
   .product__display--img-list {
    gap: 5px;
   }
    .product__display--img-list img {
     height: 110px;
    }
    .product__display--main-img {
        width: auto;
        height: 475px;
    }
    .product__display-right {
        width: 100%;
    }
    .product__display-right h1 {
        font-size: 24px;
    }
    .product__display--right-stars {
        gap: 6px;
        font-size: 14px;
    }
    .product__display--right-prices {
        gap: 15px;
        font-size: 20px;
        margin-bottom: 15px;
    }
     .product__display--right-sizes {
        margin: 20px 0;
     }
   .product__display--right-size {
        font-size: 14px;
        padding: 3px 7px;
    }
}
@media (max-width: 500px) {
         .product__display {
        flex-direction: column;
    margin: 0px 40px;
   }
   .product__display-left {
    width: 100%;
    align-items: center;
    justify-content: center;
    margin-left: 1%;
   }
   .product__display--img-list {
    gap: 5px;
   }
    .product__display--img-list img {
     height: 75px;
    }
    .product__display--main-img {
        width: auto;
        height: 350px;
    }
    .product__display-right {
        width: 100%;
    }
    .product__display-right h1 {
        font-size: 24px;
    }
    .product__display--right-stars {
        gap: 6px;
        font-size: 14px;
    }
    .product__display--right-prices {
        gap: 15px;
        font-size: 20px;
        margin-bottom: 15px;
    }
     .product__display--right-sizes {
        margin: 20px 0;
     }
   .product__display--right-size {
        font-size: 14px;
        padding: 3px 7px;
    }
}